<%= form_with model: @book, url:"/books/#{@book.id}", local:true do |f| %>
  <h2>Editing Book</h2>
   <% if @book.errors.any? %>
    <ul>
     <% @book.errors.full_messages.each do |message| %>
       <li><%= message %>error</li>
     <% end %>
    </ul>
   <% end %>
  <h4>title</h4>
  <%= f.text_field :title %>
  <h4>body</h4>
  <%= f.text_area :body %>
  <%= f.submit "Update Book " %>

<% end %>

  <%= link_to "Show", book_path(@book.id) %>
  <%= link_to "Back", books_path %>